*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav, footer{
    background-color: rgb(38, 153, 10);
    padding: 15px;
}
h1{
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
a{
    text-decoration: none;
}
.boton{
    
    padding: 5px;
    color: white;
    background-color:rgba(33, 42, 10, 0.23);
    border: 1px solid green;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: fit-content;
}
div{
    border: 2px;
    padding: 20px;
}
img{
    padding: 20px;
}
a{
    color: antiquewhite;
    padding: 10px;
}
#col_red{
    color: red;
    position: relative;
    left: 30px;
    right: 30px;
    border: 2px solid blue;
    padding: 40px;
    width: 170px;
    text-align: center;

}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }